/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, .highlight_theme_tomorrow-night-eighties pre .comment, .highlight_theme_tomorrow-night-eighties pre .title {
  color: #999999;
}

.tomorrow-red, .highlight_theme_tomorrow-night-eighties pre .variable, .highlight_theme_tomorrow-night-eighties pre .attribute, .highlight_theme_tomorrow-night-eighties pre .tag, .highlight_theme_tomorrow-night-eighties pre .regexp, .highlight_theme_tomorrow-night-eighties pre .ruby .constant, .highlight_theme_tomorrow-night-eighties pre .xml .tag .title, .highlight_theme_tomorrow-night-eighties pre .xml .pi, .highlight_theme_tomorrow-night-eighties pre .xml .doctype, .highlight_theme_tomorrow-night-eighties pre .html .doctype, .highlight_theme_tomorrow-night-eighties pre .css .id, .highlight_theme_tomorrow-night-eighties pre .css .class, .highlight_theme_tomorrow-night-eighties pre .css .pseudo {
  color: #f2777a;
}

.tomorrow-orange, .highlight_theme_tomorrow-night-eighties pre .number, .highlight_theme_tomorrow-night-eighties pre ..highlight_theme_tomorrow-night-eighties preprocessor, .highlight_theme_tomorrow-night-eighties pre .built_in, .highlight_theme_tomorrow-night-eighties pre .literal, .highlight_theme_tomorrow-night-eighties pre .params, .highlight_theme_tomorrow-night-eighties pre .constant {
  color: #f99157;
}

.tomorrow-yellow, .highlight_theme_tomorrow-night-eighties pre .ruby .class .title, .highlight_theme_tomorrow-night-eighties pre .css .rules .attribute {
  color: #ffcc66;
}

.tomorrow-green, .highlight_theme_tomorrow-night-eighties pre .string, .highlight_theme_tomorrow-night-eighties pre .value, .highlight_theme_tomorrow-night-eighties pre .inheritance, .highlight_theme_tomorrow-night-eighties pre .header, .highlight_theme_tomorrow-night-eighties pre .ruby .symbol, .highlight_theme_tomorrow-night-eighties pre .xml .cdata {
  color: #99cc99;
}

.tomorrow-aqua, .highlight_theme_tomorrow-night-eighties pre .css .hexcolor {
  color: #66cccc;
}

.tomorrow-blue, .highlight_theme_tomorrow-night-eighties pre .function, .highlight_theme_tomorrow-night-eighties pre .python .decorator, .highlight_theme_tomorrow-night-eighties pre .python .title, .highlight_theme_tomorrow-night-eighties pre .ruby .function .title, .highlight_theme_tomorrow-night-eighties pre .ruby .title .keyword, .highlight_theme_tomorrow-night-eighties pre .perl .sub, .highlight_theme_tomorrow-night-eighties pre .javascript .title, .highlight_theme_tomorrow-night-eighties pre .coffeescript .title {
  color: #6699cc;
}

.tomorrow-purple, .highlight_theme_tomorrow-night-eighties pre .keyword, .highlight_theme_tomorrow-night-eighties pre .javascript .function {
  color: #cc99cc;
}

.highlight_theme_tomorrow-night-eighties pre code {
  display: block;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

.highlight_theme_tomorrow-night-eighties pre .coffeescript .javascript,
.highlight_theme_tomorrow-night-eighties pre .javascript .xml,
.highlight_theme_tomorrow-night-eighties pre .tex .formula,
.highlight_theme_tomorrow-night-eighties pre .xml .javascript,
.highlight_theme_tomorrow-night-eighties pre .xml .vbscript,
.highlight_theme_tomorrow-night-eighties pre .xml .css,
.highlight_theme_tomorrow-night-eighties pre .xml .cdata {
  opacity: 0.5;
}
